<!-- Toggle Menu Button -->
<p-button
  (click)="setMenuVisibility('show')"
  icon="pi pi-bars"
  severity="secondary"
  [text]="true"
  [rounded]="true"
  size="large"
  class="menu__toggle"
>
</p-button>

<!-- Drawer Menu -->
<p-drawer
  [(visible)]="visible"
  [position]="position"
  [dismissible]="true"
  styleClass="menu__drawer"
>
  <!-- Menu Header -->
  <ng-template pTemplate="header">
    <div class="menu__header-custom-content">
      <span class="menu__header-logo-area">
        <img src="/logo.png" alt="Nós" class="menu__header-icon" />
      </span>
    </div>
  </ng-template>

  <!-- Menu Content -->
  <div class="menu__content">
    <ul class="menu__list">
      @for (route of routes; track route.label) {
      <li class="menu__list__route">
        <a
          [routerLink]="route.route"
          class="menu__list__link"
          (click)="setMenuVisibility('hide')"
          routerLinkActive="menu__list__link--active"
        >
          @if (route.icon) {
          <i [class]="'pi ' + route.icon" class="menu__icon"></i>
          }
          <span class="menu__label">{{ route.label }}</span>
        </a>
      </li>
      }
    </ul>
  </div>

  <!-- Menu Footer -->
  <ng-template pTemplate="footer">
    <div class="menu__footer">
      <p-divider class="menu__footer-divider"></p-divider>
      <div class="menu__footer-content">
        <div class="menu__footer-theme-switch">
          <p-button icon="pi pi-cog"></p-button>
          <!--/* TODO: need to create */-->
        </div>
      </div>
    </div>
  </ng-template>
</p-drawer>
