<!-- Toggle Menu Button -->
<p-button
  (click)="toggleMenu()"
  icon="pi pi-bars"
  severity="secondary"
  [text]="true"
  [rounded]="true"
  size="large"
  class="menu__toggle"
>
</p-button>

<!-- Drawer Menu -->
<p-drawer
  [(visible)]="visible"
  [position]="position"
  [modal]="true"
  [dismissible]="true"
  styleClass="menu__drawer"
>
  <!-- Menu Content -->
  <div class="menu__content">
    <ul class="menu__list">
      @for (item of items; track item.label) {
      <li class="menu__item">
        <a
          [routerLink]="item.route"
          class="menu__link"
          (click)="closeMenu()"
          routerLinkActive="menu__link--active"
        >
          @if (item.icon) {
          <i [class]="'pi ' + item.icon" class="menu__icon"></i>
          }
          <span class="menu__label">{{ item.label }}</span>
        </a>
      </li>
      }
    </ul>
  </div>
</p-drawer>
