<div class="records-page">
  <!-- Page title -->
  <div class="records-page__header">
    <h1 class="records-page__title">Diário da Felicidade ❤️</h1>
  </div>

  <!-- Switch to filter liked records -->
  <div class="records-page__filter">
    <div class="filter-switch">
      <label class="filter-switch__label" for="showOnlyFavoritesSwitch">
        Mostrar apenas curtidos
      </label>
      <p-toggleswitch
        id="showOnlyFavoritesSwitch"
        class="filter-switch__input"
        [(ngModel)]="showOnlyFavorites"
        (onChange)="onFilterChange($event)"
        [disabled]="isLoading"
      />
    </div>
  </div>

  <!-- List cards -->
  <app-records></app-records>
</div>
